# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# The source books are large (~85 MB total) and copyrighted — keep them
# out of the repo. Remove this line if you intend to commit them.
*.pdf

# OS / editor cruft
.DS_Store
Thumbs.db
.vscode/
.idea/
